@import 'src/styles/variables.scss';

:host {
  display: inline-block;
  button {
    position: relative;
    border: none;
    height: 45px;
    color: black;
    font-weight: bold;
    min-width: 120px;
    box-shadow: 3px 3px 0 0 rgb(131 103 216 / 31%);
    border-color: $primary;
    border-style: solid;
    background-color: transparent;
    border-width: 3px;
    &:hover {
      border-color: $primary-light;
    }
    &:active {
      border-color: $primary-darker;
    }
    &:disabled {
      border-color: $primary-disabled;
      color: gray;
      cursor: not-allowed;
    }
  }
  .loading {
    color: transparent!important;
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%);
      border: 4px solid rgb(131 103 216 / 31%);
      border-radius: 50%;
      border-top: 4px solid $primary;
      width: 12px;
      height: 12px;
      animation: spin 2s linear infinite;
    }
  }
  @keyframes spin {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
