h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}

:host ::ng-deep reactive-button{
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

form {
  width: 400px;
  max-width: 90vw;
  .button-center {
    text-align: center;
  }
}
