$primary: #6979f8;
$spacing-vertical: 9px;
$input-border-width: 3px;
$input-height: 42px;
$spacing-horizontal: 3px;

.ractive-input {
  margin-bottom: 25px;
  position: relative;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }

  input[type='text'],
  input[type='url'],
  input[type='tel'],
  input[type='number'],
  input[type='color'],
  input[type='password'],
  input[type='email'] {
    display: block;
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    border-color: $primary;
    border-style: solid;
    box-shadow: 3px 3px 0 0 rgb(131 103 216 / 31%);
    height: $input-height;
    padding-left: $spacing-vertical;
    padding-right: $spacing-vertical;
    border-width: $input-border-width;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 7px;
    position: absolute;
  }
}
