@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import './variables.scss';

html {
  font-family: $font-family;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}