@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import './variables.scss';

html {
  font-family: $font-family;
}

body{
  height: 100vh;
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}
