$background-color: #ffffff;
$font-family: 'Open Sans', sans-serif;
$primary: #6979f8;
$primary-darker: #6173f8;
$primary-light: #7887f7;
$spacing-vertical: 9px;
$spacing-horizontal: 3px;
$primary-disabled: #a8b2fa;
$input-border-width: 3px;
$input-height: 42px;